* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 150vh;
  background: linear-gradient(180deg, #000000, #1e0030, #1e0035);
  background-attachment: scroll;
}
h1 {
    color: #d4b3ff;
    font-family: 'Courier New', monospace;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)'/%3E%3C/svg%3E");
  background-attachment: scroll;
  background-size: 200px 200px;
  z-index: 9999;
  pointer-events: none;
}

.center-image {
  display: block;
  margin: 0 auto;
  width: 450px; 
  margin-top: 50px;
}

.container-yep {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    max-width: 1200px;
    border: 1px solid #a53333;
    border-radius: 12px;
    background:linear-gradient(#a53333, #000000);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
    margin: 0 auto;
    margin-top: 25px;

}

.container-gc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    max-width: 1200px;
    border: 1px solid #c78100;
    border-radius: 12px;
    background: linear-gradient(#c78100, #000000);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
    margin: 0 auto;
    margin-top: 25px;
}

.button-question {
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid #61135e;
  background: linear-gradient(#61135e, #000000);
  color: white;
  font-size: 20px;
  font-family: 'Courier New', monospace;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);

  transition: transform 0.2s ease, filter 0.2s ease;
}

.button-question:hover {
  transform: scale(1.05);
  filter: brightness(1.35);
}


/* Button thingies */

.button {
  padding: 10px 16px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
  filter: brightness(0.8);
}

/* Difficulty Selection */

.difficulty {
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid #61135e;
  background: linear-gradient(#61135e, #000000);
  color: white;
  font-size: 20px;
  font-family: 'Courier New', monospace;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);

  transition: transform 0.2s ease, filter 0.2s ease;
}

.difficulty:hover {
  transform: scale(1.05);
  filter: brightness(0.8);
}

.selection-area {
    display: flex;
    align-items: center;
    gap: 20px;
}

.difficulty-image {
    width: 65px;
    height: auto;
}

.image-box {
    width: 50px;
    height: 50px;

    border-radius: 12px;
    border: 1px solid #61135e;

    background: linear-gradient(180deg, #61135e, #000000); 

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background 0.3s ease;
}

.difficulty-image {
    max-width: 90%;
    max-height: 90%;
}

/* Top Bar */
.top-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 50px;
}